@import "tailwindcss";

@layer base {
  :where(*, *::before, *::after) {
    box-sizing: border-box;
  }

  :where(html, body) {
    margin: 0;
  }
}

html, body, #root {
  width: 100%;
  height: 100%;
}
